body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:#FFFFFF;
}
.top-section{
    background-color:#2D25A0;
    margin-bottom: 75px;
}
.top-banner-section{
    display: flex;   


} 
.top-banner-section h1{
    font-size: 64px; 
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700px;  
    margin-left: 150px;
    font-style: normal;
    line-height: 80px;
   

}
.top-banner-section img {
    width: 556.01px;
    height: 438px;
    margin-left: 200px;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-weight: 700;
    margin-left: 150px;

}
.link-button:hover{
    color: #2D25A0;
}
.link-button2{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-weight: 700;

}
.link-button2:hover{
    color: green;
}
.players-section{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 1050px;
    height: 474px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.players img{

    width: 350px;
    height: 300px;
}
.players h2{
    font-size: 28px;
    font-weight: bold;

    font-style: normal;
    line-height: 40px;
}
.custom-div{
    margin: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 1px;
    padding: 10px;
    
}
.third-section{
    display: flex;
}
.third-section img{
    width: 567px;
    height: 427px;
}
.third-section h1{
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;

}
 .half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 100px;
} 
.half-width2{
    width: 50%;
    padding-left: 5%;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 100px;
}

footer img{
    width: 483.87px;
    height: 110px;
}
footer p{
    text-align: center 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* .social-icon img{
    width: 50px;
    height: 50px;
    padding: 5px;
} */
.social-icon h1{
    display: inline;
    padding: 10px;
}

/* Mobile devices  */
@media only screen and (max-width:688px) {
    .top-banner-section{
        flex-direction: column;
        
    } 
    .top-banner-section h1{
        width: 100%;
        font-size: 50px;
        margin-left: 20px;
        font-style: normal;
        font-weight: 700px; 
    
    }
    .top-section img {
        margin-top: 30px;
        margin-left: 20px;
        width: 100%;
    }
    .link-button{
        margin-left: 20px;
    }    
    .players{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .players img{
        width: 100%;
    }

    .third-section{
        flex-direction: column;
        width: 100%;
    }
    .third-section h1{
        font-size: 45px;
        font-weight: 700;
        font-style: normal;
    }
    .half-width{
        margin: 1px;
        width: 100%;

    }
    .half-width2{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .half-width2 img{
        width: 100%;
    
    } 
    .footer-class  {
        margin-top: 50px;
        width: 100%;
    }
   
} 